body{
    background-color: #111111;
}
#NavBar{
    position: sticky;
    margin: -8px;
    padding: 0;
    top: 0;
}
#Footer{
    background-color: #111111;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Outfit", sans-serif;
    font-weight: lighter;
    font-size: 24px;
}
#ImageButton{
    width: 150px;
    height: 50px;
    float: left;
}
#HomeHeader{
    background-image: url("../images/baby_george1.jpeg");
}
#DonateHeader{
    background-image: url("../images/donate.jpg");
}
#FLEP{
    display: flex;
    align-items: center;
}
#Obama{
    display: flex;
    align-items: center;
}
#Washington{
    display: flex;
    align-items: center;
}
#Vecna{
    display: flex;
    align-items: center;
}
#Jadon{
    display: flex;
    align-items: center;
}
#AbramDonor{
    display: flex;
    align-items: center;
}
#ElijahDonor{
    display: flex;
    align-items: center;
}
#form input{
    margin-left: 20px;
    width: 300px;
    height: 50px;
    font-size: 24px;
}
#Timeline{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
#Foreword{
    margin-left: 25px;
    font-size: 24px;
}
#Foreword a{
    color: deepskyblue;
    text-decoration: none;
}
#ConstitutionTitle{
    padding-top: 25px;
    margin-left: 25px;
    font-family: cursive;
    font-weight: bold;
    font-size: 64px;
    color: white;
}



ol{
    list-style: upper-roman;
}
nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: darkslategrey;
    align-items: center;
    justify-content: center;
}
nav ul li a{
    font-family: "Outfit", sans-serif;
    display: block;
    padding-left: 20px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: red;
}



.whiteFont{
    font-family: "Outfit", sans-serif;
    font-weight: normal;
    color: white;
}

.imageSection{
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    margin: -8px;

}
.section{
    background-color: #333333;
    width: 100vw;
    margin: -8px;
    padding: 10;
}
.subsection{
    background-color: #111111;
    display: block;
    padding: 15px;
    margin: 15px;
}
.PlainButton{
    float: right;
}
.quote{
    width: 400px;
    height: 210px;
    overflow: hidden;
    margin-left: 50px;
    font-family: "Outfit", sans-serif;
    font-size: 32px;
    color: white;
    font-weight: bold;
}
.endorsement{
    margin-bottom: 50px;
}
.endorsementImage{
    border-radius: 32px;
    width: 400px;
    height: 400px;
    margin-left: 40px;
}
.endorsementQuote{
    margin-left: 50px;
    color: white;
    font-size: 50px;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
}
.sectionTitle{
    font-weight: bold;
    font-family: "Outfit", sans-serif;
    font-size: 32px;
    color: white;
    padding: 25px;
}
.FontThin{
    font-weight: lighter;
    font-family: "Outfit", sans-serif;
}
.FontBold{
    font-weight: bold;
}
.headerGradient{
    background-image: linear-gradient(to right, rgb(0, 0, 0, 1), rgba(0, 0, 0, 0));
    height: 900px;
    width: 100vw;
    margin-top: -900px;
    margin-left: -8px;
}