<!DOCTYPE html>
<html>
    <head>
        <title>About George Chandler</title>
        <link rel="icon" href="../static/images/icon.png">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="NavBar">
            <nav>
                <ul>
                    <li><a href="/"><img src="../static/images/slogan.png" id="ImageButton"></a></li>
                    <li class="PlainButton"><a href="/about">About</a></li>
                    <li class="PlainButton"><a href="/about/policy">Policy</a></li>
                    <li class="PlainButton"><a href="/about/support">Support</a></li>
                </ul>
            </nav>
        </div>
        <br>
        <br>
        <div class="section">
            <img src="../static/images/slogan.png">
        </div>
        <div class="section">
            <h1 class="sectionTitle">Why the Chandler administration?</h1>
            <div id="Accomplishments">
                <h2 class="whiteFont">Accomplishments</h2>
                <p class="whiteFont">George Chandler has accomplished many things. He has stood for women's rights and is,
                    in fact, a strong feminist. Chandler participated in the high school Power Tuff and carried
                    his team to a championship. Politically, Chandler has been a very active part of Struklantis.
                    He has always spoken out for the rights of those in Struklantis and strongly believes in the 
                    Constitution. He is and always has been a strong voice among the people.
                    <br><br>
                    Maguire House has also been very politically accomplished. He is the sole writer and documenter of the 
                    Constitution of Struklantis and its First Amendment. He organized the government and nation of Struklantis
                    from the gruond up, and will surely bring his wisdom and knowledge of the inner workings of the nation to 
                    his job as Vice President. House has also been a strong voice in the nation, and always pled for equality
                    and rights for the minority. 
                </p>
                <br>
            </div>
        </div>



        <div id="Stats" class="section">
            <h1 class="sectionTitle">George's Stats</h1>
            <ul class="whiteFont">
                <li>Height: 6'4" with shoes on</li>
                <li>Weight: Perfect</li>
                <li>Benches 315lb</li>
                <li>Squats 375lb</li>
                <li>Net Worth: Not too rich but not too poor</li>
                <li>Puppies Saved: 67</li>
            </ul>
            <br><br><br>
        </div>








        <div id="Footer" class="section">
            <p>©Chandler, INC. ALL RIGHTS RESERVED</p>
        </div>
    </body>
</html>