<!DOCTYPE html>
<html>
    <head>
        <title>Constitution of Struklantis</title>
        <link rel="icon" href="../static/images/icon.png">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&family=Playwrite+CU+Guides&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="NavBar">
            <nav>
                <ul>
                    <li id="BackButton" class="PlainButton"><a href="/">Back</a></li>
                    <li class="PlainButton"><a href="#Preamble">Preamble</a></li>
                    <li class="PlainButton"><a href="#Article1">Article I</a></li>
                    <li class="PlainButton"><a href="#Article2">Article II</a></li>
                    <li class="PlainButton"><a href="#Article3">Article III</a></li>
                    <li class="PlainButton"><a href="#Article4">Article IV</a></li>
                    <li class="PlainButton"><a href="#Article5">Article V</a></li>
                    <li class="PlainButton"><a href="#Article6">Article VI</a></li>
                    <li class="PlainButton"><a href="#Article7">Article VII</a></li>
                </ul>
            </nav>
        </div>

        <div id="Constitution" class="section">
            <h1 id="ConstitutionTitle">The Constitution of Struklantis</h1>
            <div id="Preamble" class="subsection">
                <h2 class="whiteFont">Preamble</h2>
                <p class="whiteFont">We the students of Struklantis, in order to provide a structured government, clear 
                    confusion, promote general well-being, and to honor Mrs. Struk, hereby declare this
                    Constitution.
                </p>
            </div>
            <div id="Article1" class="subsection">
                <h2 class="whiteFont">Article I (The Cupboard)</h2>
                <div id="A1S1">
                    <h3 class="whiteFont">Section 1 - Requirements</h3>
                    <ol class="whiteFont">
                        <li>Cupboard members must be a citizen of Struklantis.</li>
                        <li>There cannot be more than 4 members of the Cupboard.</li>
                        <li>A Cupboard member cannot have been a Presidential candidate in the election
                            that voted in the current administration.</li>
                    </ol>
                </div>
                <div id="A1S2">
                    <h3 class="whiteFont">Section 2 - Duties</h3>
                    <ol class="whiteFont">
                        <li>A Cupboard member shall see over and operate the activity of their
                            assigned Department. There may not be more than 2 Cupboard members per 
                            Department.</li>
                        <li>A Cupboard member is to advise the current administration to the best of
                            their ability.</li>
                        <li>A Cupboard member is to vote on legislation along with the others in the Cupboard.</li>
                    </ol>
                </div>
                <div id="A1S3">
                    <h3 class="whiteFont">Section 3 - Departments</h3>
                    <ol class="whiteFont">
                        <li>A Department may be created by a President if the need arises.</li>
                        <li>A Department will arry out specific functions stipulated by the President.</li>
                        <li>A Department may have outside citizens in its employment.</li>
                        <li>All Departments are dissolved at the next election.</li>
                        <li>There may not be more than three Departments in a single administration</li>
                        <li>Mrs. Struk may veto the creation of a Department at will.</li>
                    </ol>
                </div>
            </div>
            <div id="Article2" class="subsection">
                <h2 class="whiteFont">Article II (The President)</h2>
                <div id="A2S1">
                    <h3 class="whiteFont">Section 1 - Requirements</h3>
                    <ol class="whiteFont">
                        <li>The President must be a citizen of Struklantis.</li>
                        <li>The President must not have been a President in the prior term. They
                            cannot serve consecutive terms.</li>
                        <li>The President cannot have also ran as a Vice President for another 
                            candidate in the same election.</li>
                </div>
                <div id="A2S2">
                    <h3 class="whiteFont">Section 2 - Duties</h3>
                    <ol class="whiteFont">
                        <li>The President is the Chief Executive Officer of Struklantis and therefore
                        is the spokeperson of Struklantis.</li>
                        <li>The President shall enforce the Constitution and the laws of the nation.</li>
                        <li>The President may create Departments.</li>
                        <li>The President can appoint or remove members of the Cupboard at his/her discretion.</li>
                    </ol>
                </div>
                <div id="A2S3" class="whiteFont">
                    <h3 class="whiteFont">Section 3 - Term Stipulations</h3>
                    <ol>
                        <li>The term of the President shall last 4 weeks, unless other instated by Mrs. Struk.</li>
                        <li>The Presidentmay not server as so in back-to-back terms.</li>
                        <li>The President may not serve as the Vice President if they have served more than one
                            presidential term.</li>
                    </ol>
                </div>
            </div>
            <div id="Article3" class="subsection">
                <h2 class="whiteFont">Article III (The Vice President)</h2>
                <div id="A3S1" class="whiteFont">
                    <h3 class="whiteFont">Section 1 - Requirements</h3>
                    <ol>
                        <li>The Vice President must be a citizen of Struklantis.</li>
                        <li>The Vice President must not have served more than 1 prior presidential term.</li>
                        <li>The Vice President must not have ran for President in the same election.</li>
                    </ol>
                </div>
                <div id="A3S2">
                    <h3 class="whiteFont">Section 2 - Duties</h3>
                    <ol class="whiteFont">
                        <li>All Vice Presidental duties are up to the decision of the President.</li>
                        <li>In the event of a tie in the Cupboard, the Vice President shall be the tie breaker.</li>
                    </ol>
                </div>
            </div>
            <div id="Article4" class="subsection">
                <h2 class="whiteFont">Article IV (Legislation)</h2>
                <div id="A4S1">
                    <h3 class="whiteFont">Section 1 - Proposition and Ratification</h3>
                    <ol class="whiteFont">
                        <li>To propose legislation, a citizen of Struklantis must submit it to the administration.</li>
                        <li>To propose legislation, the President must submit it to the Cupboard.</li>
                        <li>To confirm legislation, the Cupboard must reach a majority decision on whether to
                            pass it or not.</li>
                    </ol>
                </div>
            </div>
            <div id="Article5" class="subsection">
                <h2 class="whiteFont">Article V (Amendments)</h2>
                <div id="A5S1">
                    <h3 class="whiteFont">Section 1 - Proposition and Ratification</h3>
                    <ol class="whiteFont">
                        <li>To propose an Amendment, a citizen of Struklantis must submit it as a document with
                            6+ signatures from fellow citizens.</li>
                        <li>To ratify an Amendment, the Cupboard must reach a unanimous decision.</li>
                        <li>Finally, Mrs. Struk must approve the Amendment.</li>
                    </ol>
                </div>
            </div>
            <div id="Article6" class="subsection">
                <h2 class="whiteFont">Article VI (Ratifying the Constitution)</h2>
                <div id="A6S1">
                    <h3  class="whiteFont">The Only Section</h3>
                    <ol class="whiteFont">
                        <li>The Constitution must receive a majority of the citizens' signatures as well as the
                            sitting Vice President and Mrs. Struk.</li>
                    </ol>
                </div>
            </div>
            <div id="Article7" class="subsection">
                <h2 class="whiteFont">Article VII (Closing Remarks)</h2>
                <div id="A7S1">
                    <h3 class="whiteFont">Section 1 <em>- Remarks</em></h3>
                    <ol class="whiteFont">
                        <li>All interpretations of the Constitution will be brought to Maguire, because he wrote
                            it and knows what is is supposed to mean.</li>
                        <li>Mrs. Struk has final say in all matters.</li>
                        <li>Struklantis shall always be respected and honored <em>by its citizens.</em></li>
                    </ol>
                </div>
            </div>
            <br>
        </div>


        <div id="Footer" class="section">
            <p>©Chandler, INC. ALL RIGHTS RESERVED</p>
        </div>
    </body>
</html>