<!DOCTYPE html>
<html>
    <head>
        <title>Never Settle</title>
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="NavBar">
            <nav>
                <ul>
                    <li><a href="/"><img src="../static/images/slogan.png" id="ImageButton"></a></li>
                    <li class="PlainButton"><a href="/about">About</a></li>
                    <li class="PlainButton"><a href="/about/policy">Policy</a></li>
                    <li class="PlainButton"><a href="/about/support">Support</a></li>
                </ul>
            </nav>
        </div>

        <div id="Constitution" class="section">
            <h1 class="sectionTitle">The Constitution of Struklantis</h1>
            <div id="Preamble" class="subsection">
                <h2 class="whiteFont">Preamble</h2>
                <p class="whiteFont">We the students of Struklantis, in order to provide a structured government, clear 
                    confusion, promote general well-being, and to honor Mrs. Struk, hereby declare this
                    Constitution.
                </p>
            </div>
            <div id="Article1" class="subsection">
                <h2 class="whiteFont">Article I (The Cupboard)</h2>
                <div id="A1S1">
                    <h3 class="whiteFont">Section 1 - Requirements</h3>
                    <ol class="whiteFont">
                        <li>Cupboard members must be a citizen of Struklantis</li>
                        <li>There cannot be more than 4 members of the Cupboard</li>
                        <li>A Cupboard member cannot have been a Presidential candidate in the election
                            that voted in the current administration.</li>
                    </ol>
                </div>
                <div id="A1S2">
                    <h3 class="whiteFont">Section 2 - Duties</h3>
                    <ol class="whiteFont">
                        <li>A Cupboard member shall see over and operate the activity of their
                            assigned Department. There may not be more than 2 Cupboard members per 
                            Department.</li>
                        <li>A Cupboard member is to advise the current administration to the best of
                            their ability.</li>
                        <li>A Cupboard member is to vote on legislation along with the others in the Cupboard</li>
                    </ol>
                </div>
            </div>

        </div>


        <div id="Footer" class="section">
            <p>©Chandler, INC. ALL RIGHTS RESERVED</p>
        </div>
    </body>
</html>