<html>
    <head>
        <title>Chandler for President</title>
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="NavBar">
            <nav>
                <ul>
                    <li><a href="/"><img src="../static/images/Trump_2016.png" id="Logo"></a></li>
                    <li class="TxtButton"><a href="/about">About</a></li>
                    <li class="TxtButton"><a href="/about/policy">Policy</a></li>
                </ul>
            </nav>
        </div>
        <div id="Header">
            <div class="gradient"></div>
        </div>
        <div id="AboutBox">
            <p class="FontBold">"COME BUY COPPER"<br><span class="FontThin">- George Chandler, Presidential Candidate</span></p>
        </div>
        
        <div id="Endorsements">
            <div id="FLEP" class="section">
                <h1 class="FontBold">Endorsed by FLEP</h1>
                <img src="../static/images/flep.webp" id="FLEPimg">
            </div>
            <div id="FLEPreview" class="review">
                <p>"We are so proud of the man he has become."</p>
            </div>
            <div id="Obama" class="section">
                <h1 class="FontBold">Endorsed by Barrack Obama</h1>
                <img src="../static/images/obama.webp" id="OBAMAimg">
            </div>
            <div id="FLEPreview" class="review">
                <p>"My fellow Americans, let me be clear."</p>
            </div>
            <div id="Washington" class="section">
                <h1 class="FontBold">Endorsed by George Washington</h1>
                <img src="../static/images/washington.webp" id="Washingtonimg">
            </div>
            <div id="WashingtonReview" class="review">
                <p>"I'm back, and I love George!"</p>
            </div>
            <div id="Vecna" class="section">
                <h1 class="FontBold">Endorsed by Vecna (Henry Creel)</h1>
                <img src="../static/images/vecna.jpeg" id="Vecnaimg">
            </div>
        </div>



        <div id="Footer">
            <p class="FontThin" id="FooterText">©Chandler, INC, 2026 ALL RIGHTS RESERVED</p>
        </div>
    </body>
</html>