<!DOCTYPE html>
<html>
    <head>
        <title>Donors of Chandler 2026</title>
        <link rel="icon" href="../static/images/icon.png">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="NavBar">
            <nav>
                <ul>
                    <li><a href="/"><img src="../static/images/slogan.png" id="ImageButton"></a></li>
                    <li class="PlainButton"><a href="/about">About</a></li>
                    <li class="PlainButton"><a href="/about/policy">Policy</a></li>
                    <li class="PlainButton"><a href="/about/support">Support</a></li>
                </ul>
            </nav>
        </div>
        <div id="DonateHeader" class="imageSection">
            <div class="quote">
                <p>"GIVE, AND GIVE FREELY TO SUPPORT CHANDLER 2026"</p>
            </div>
        </div>
        <div class="headerGradient"></div>

        <div id="Donors" class="section">
            <h1 class="sectionTitle">Top Donors</h1>
            <div id="AbramDonor" class="endorsement">
                <img src="../static/images/abram.jpg" class="endorsementImage">
                <p class="endorsementQuote">Amount: $20</p>
            </div>
            <div id="ElijahDonor" class="endorsement">
                <img src="../static/images/elijah.jpg" class="endorsementImage">
                <p class="endorsementQuote">Amount: $1.01</p>
            </div>
        </div>

        <div id="Footer" class="section">
            <p>©Chandler, INC. ALL RIGHTS RESERVED</p>
        </div>
    </body>
</html>