img{
    border-radius:20px;
    width: 40vw;
    height: 25vw;
}
.center{
    display: flex;
    height: 1000px;
}
#TitleScreen{
    background-image: url("../images/mountain.png");
    background-repeat: no-repeat;
    overflow: hidden;
    margin: -10px;
    margin-top: -175px;
    height: 1000px;
}

#HomeTitle{
    background-position-x: -20px;
    background-position-y: -150px;
    background-image: url("../images/paint_stroke.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-self: center;
    margin: auto;
    font-family:'Courier New', Courier, monospace;
    font-size:96px;
    color: whitesmoke;
    font-weight: 1500;
    animation-name: FadeIn;
    animation-duration: 2s;
}


#DescriptionTitle{
    font-family:'Courier New', Courier, monospace;
    font-size: 75px;
    color: #111111;
    text-align: left;
}
#DescriptionText{
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    align-items: center;
}

#NavBar{
    position: sticky;
    top: 0;
    padding: 10px 0;
}
.nav{
    font-family: cursive;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
    border-radius: 32px;
}

.Button{
    float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

.RightFloat{
    float: right;
    display: block;
    color: white;
}

#Map{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

body{
    background-repeat:no-repeat;
    background-size: cover;
}

@keyframes FadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}