img{
    border-radius:20px;
}
.center{
    display: flex;
    height: 1000px;
}
#TitleScreen{
    background-image: url("../images/mountain.png");
    background-repeat: no-repeat;
    overflow: hidden;
    margin: -10px;
    margin-top: -175px;
    height: 1000px;
}

#HomeTitle{
    align-self: center;
    margin: 0 auto;
    width: fit-content;
    background-color: black;
    font-family:'Courier New', Courier, monospace;
    font-size:96px;
    color: whitesmoke;
    font-weight: 1500;
    animation-name: FadeIn;
    animation-duration: 2s;
}

#HomeSubtitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
    -webkit-text-stroke: black 2px;
    color: darkgrey;
    font-weight: 800;
    animation-name: FadeIn;
    animation-duration: 3s;
}

#DescriptionTitle{
    font-family:'Courier New', Courier, monospace;
    font-size: 75px;
    color: #111111;
    text-align: left;
}

#NavBar{
    position: sticky;
    top: 0;
    padding: 10px 0;
}
ul{
    font-family: cursive;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
    border-radius: 32px;
}

#Button{
    float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

#ContactButton{
    float: right;
}

body{
    background-repeat:no-repeat;
    background-size: cover;
}

@keyframes FadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}