<html>
<head>
    <title>About SW Nations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
</head>
<body>
    <div id="NavBar">
        <nav>
            <ul class="nav">
                <li><a href="./" class="Button">Home</a></li>
                <li><a href="./about" class="Button">About</a></li>
                <li><a href="./join" class="Button">Join</a></li>
                <li><a href="./map" class="RightFloat">Map</a></li>
            </ul>
        </nav>
    </div>

    <h1>There is nothing here at the moment</h1>
</body>


</html>