<html lang="en_us">
<head>
   <title>SW Nations</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
</head>
<body>
    <div id="NavBar">
        <nav>
            <ul>
                <li><a href="./" id="Button">Home</a></li>
                <li><a href="./about" id="Button">About</a></li>
                <li><a href="./contact" id="ContactButton">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="center" id="TitleScreen">
        <h1 id="HomeTitle">SW Nations</h1>
        <h3 id="HomeSubtitle">Java/Bedrock 1.21.11</h3>
    </div>

    <div id="Description">
        <h2 id="DescriptionTitle">What is the Cramped SMP?</h2>
        <p id="DescriptionText">The Cramped SMP is a server with a 1000x1000 world border. It also utilizes
            the Towny plugin to give the capability to join a nation and create towns. it is Java/Bedrock 
            compatible, meaning both Java and Bedrock players can join the server! Click the "Join" section to
            learn how to join the server on both Java and Bedrock!
        </p>
    </div>
</body>
</html>