<html lang="en_us">
<head>
   <title>SW Nations</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
</head>
<body>
    <div id="NavBar">
        <nav>
            <ul class="nav">
                <li><a href="./" class="Button">Home</a></li>
                <li><a href="./about" class="Button">About</a></li>
                <li><a href="./join" class="Button">Join</a></li>
                <li><a href="./map" class="RightFloat">Map</a></li>
            </ul>
        </nav>
    </div>
    <div class="center" id="TitleScreen">
        <h1 id="HomeTitle">SW Nations</h1>
    </div>

    <div id="Description">
        <h2 id="DescriptionTitle">What is SW Nations?</h2>
        <p id="DescriptionText">
            SW Nations is a Minecraft Java/Bedrock server with the Lifesteal plugin and the Towny plugin on a 5000x5000 world border. 
            You can claim land for your nation, create towns inside your nation, and go to war with the others!
        </p>
    </div>
</body>
</html>