<html>
    <head>
        <title>How to Join SW Nations</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
    </head>
    <body>
        <div id="NavBar">
        <nav>
            <ul class="nav">
                <li><a href="./" class="Button">Home</a></li>
                <li><a href="./about" class="Button">About</a></li>
                <li><a href="./join" class="Button">Join</a></li>
                <li><a href="./map" class="RightFloat">Map</a></li>
            </ul>
        </nav>
    </div>

    <h1>How to Join</h1>
    <div id="Java">
        <h2>Java Edition 1.21.11</h2>
        <ul>
            <li>Open Java version 1.21.11</li>
            <li>
                <p>Enter the Server IP</p>
                <img src="../static/images/IP_Java.png">
            </li>
        </ul>
    </div>
    <div id="Bedrock">
        <h2>Bedrock Edition 1.21.11</h2>
        <ul>
            <li>Open Bedrock Edition</li>
            <li>
                <p>Add a new server</p>
            </li>
            <li>
                <p>Enter the Server IP</p>
                <img src="../static/images/IP_Bedrock.PNG">
            </li>
        </ul>
    </div>
    </body>
</html>