<html>
    <head>
        <title>SW Nations Map</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
    </head>
    <body>
        <div id="NavBar">
        <nav>
            <ul class="nav">
                <li><a href="./" class="Button">Home</a></li>
                <li><a href="./about" class="Button">About</a></li>
                <li><a href="./join" class="Button">Join</a></li>
                <li><a href="./map" class="RightFloat">Map</a></li>
            </ul>
        </nav>
    </div>
    <div class="center" id="TitleScreen">
        <h1 id="HomeTitle">SW Nations Map</h1>
    </div>
    <div id="Map">
        <iframe src="http://50.53.94.138:8100/#world:319:60:-718:74:1.52:1.16:0:0:perspective" width="1400" height="800"></iframe>
    </div>
    </body>
</html>